.container__small-card {
    width: 700px;
    margin-bottom: 15px;
}

.container__small-card-content {
    display: flex;
    flex-direction: row;
}

.small-card__photo > img {
    width: 200px;
}

.small-card__title {
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-card__separator {
    margin-top: 10px;
}